body {
  background-image: url("pfp.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
  margin: 34px;
  font-family: cursive;
}

.mypara {
  color: white;
  font-family: monospace;
  font-size: 30px;
}

img {
 float:right;
}
