body {
  background-image: url("imgs/header.jpeg");
  background-repeat: repeat;
  background-size: 100%;
}


.nav-wrapper {
  background-image: url("imgs/header3.jpeg");
  background-repeat: repeat;
  background-size: 100%;
}

.brand-logo {
  margin-left: 25px;
}

#map { height: 300px }
